/* === HEADER-STILAR === */
.header-text-KnitCollection {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
  font-family: 'Times New Roman', serif;
  color: black;
  padding: 10px;
  transition: filter 0.3s ease;
  max-width: 600px; /* Begränsar textens bredd */
  word-wrap: break-word; /* Bryter långa ord om nödvändigt */
  line-height: 1.5; /* Förbättrar läsbarheten */
}

.header-text-KnitCollection a {
    text-decoration: none; /* Tar bort understrykning */
    color: inherit;        /* Ärver textfärgen från omgivande element */
}

  .header-text-Instagram a {
    text-decoration: none; /* Tar bort understrykningen */
    color: inherit;        /* Ärver färgen från förälderelementet */
  }

.header-text-Instagram {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  font-family: 'Times New Roman', serif;
  color: black;
  padding: 10px;
  transition: filter 0.7s ease-in-out;
  
}

.header-text-Tillbaka a {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  font-family: 'Times New Roman', serif;
  color: black;
  padding: 10px;
  transition: filter 0.7s ease-in-out;
  
}

.portfolio-link {
  text-decoration: none; /* Tar bort understrykningen */
  color: inherit;        /* Ärver textfärgen från omgivande element */
}

.cred-link {
  text-decoration: none;
  color: inherit;
}


/* === CONTAINER & BILDSTILAR === */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding-top: 40rem;
  width: 100%;
}

.column {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  max-width: 90%;
}

.image-wrapper {
  position: relative;
  max-width: 40%;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* === STÖRRE LIGGANDE BILD === */
.wide-image-wrapper {
  position: relative;
  width: 100%; /* Gör att den tar upp hela radens bredd */
  max-width: calc(2 * 40% + 10px); /* Samma bredd som två vanliga bilder med gap */
}

.wide-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Byt till 'contain' om du vill se hela videon */
}