/* === HEADER-STILAR === */
.header-text-EddaEliasson {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
  font-family: 'Times New Roman', serif;
  color: black;
  padding: 10px;
  transition: filter 0.3s ease;
}

.header-text-Tillbaka a {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  font-family: 'Times New Roman', serif;
  color: black;
  padding: 10px;
  transition: filter 0.7s ease-in-out;
}

/* === CENTRERA CONTAINER === */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Centrera texten vertikalt */
  height: 120vh; /* Använd 75% av viewportens höjd */
  padding-bottom: 50px; /* Lägg till extra mellanrum från botten om det behövs */
}

.centered-text {
  text-align: left;
  max-width: 500px; /* Begränsar bredden på texten för bättre läsbarhet */
  padding: 20px;
  line-height: 1.5; /* Förbättrar läsbarheten genom att ge radavstånd */
}

@media (max-width: 768px) {
  
  body
  }